@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.ContainerHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 10vh;
}.Logo{
    display: flex;
    font-size:20pt;
}.imageIcon{
    display: flex;
    width: 5vh;
    height: 5vh;
}

.ContainerMap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}
.ContainerMap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

.ContainerBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}.Banner_1{
    display: flex;
    background-color: pink;
    width: 100%;
    height: 70vh;
}

.ContainerApi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.39);
    width: 50vh;
    height: 50vh;
    border-radius: 15px;
    transition: 2s all;
    transform: scale(1);
    margin-top: 20px;
}.ContainerApi:hover{
    animation: AnimCard 2s ease ;
    transform: scale(1.1);
    transition: 1s all;
}
.ImgItem{
    display: flex;
    width: 70%;
    height:  70%;
    flex-wrap: wrap;
}
.Text_1{
    display: flex;
    font-size: 12pt;
}.Text_2{
    display: flex;
    font-size:9pt;
}


.ContainerNumbers{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}.Number_1{
    display: flex;
}.Number_2{
    display: flex;
    color: rgb(255, 255, 0);
}.Number_3{
    display: flex;
    color: rgb(119, 119, 119);
}

.Veja-mais {
    display: flex;
    margin-left: auto;
}